:root {
  --font-family: sans-serif;

  --gradient-text: linear-gradient(
    89.27deg,
    rgba(186, 109, 238, 1) 1.84%,
    rgba(251, 255, 0, 1) 80.26%
  );
  --gradient-bar: linear-gradient(
    103.22deg,
    rgba(186, 109, 238, 1) -13.84%,
    rgba(251, 255, 0, 1) 80.26%
  );

  --radial-gradient-color1: rgba(0, 40, 83, 1);
  --radial-gradient-color2: rgba(4, 12, 24, 1);

  --color-bg: rgba(4, 11, 22, 1);
  --color-footer: rgba(3, 27, 52, 1);
  --color-blog: rgba(4, 44, 84, 1);
  --color-text: rgba(129, 175, 221, 1);
  --color-subtext: rgba(255, 138, 241, 1);
}
